:root {
  --card-bg-color: rgb(209, 209, 209);
  --bg-color: rgb(26, 26, 26);
  --tea-green: #cce8ccff;
  --snow: #f6efeeff;
  --pink-lavender: #e2b6cfff;
  --plum-web: #e396dfff;
  --rose-pink: #e365c1ff;
  --pale-pink: #ffdde2ff;
  --misty-rose: #efd6d2ff;
  --persian-pink: #ff8cc6ff;
  --frostbite: #de369dff;
  --old-lavender: #6f5e76ff;
  --black-coffee: #403644ff;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  color: var(--bg-color);
  font-family: Roboto, Arial, sans-serif;
}

.scp {
  font-family: 'Source Code Pro', monospace;
}

input,
textarea {
  outline: none;
}

body {
  padding: 20px;
  background: var(--bg-color);
  
}

.devimg {
  width: 65rem;
  height: auto;
  margin-bottom: -21rem;
  align-items: center;
  align-self: center;
}

/* Header/Blog Title */
.header {
  margin-top: 30%;
  padding: 30px;
  font-size: 4rem;
  text-align: left;
  border-radius: 10px;
  color: rgb(87, 87, 87);
  font-family: 'Source Code Pro', monospace;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Add a card effect for articles */
.card {
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  color: var(--card-bg-color);

}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.footer a {
  color:rgb(94, 94, 94);
  font-size: 0.75rem;
}

a {
  text-decoration: none;
}

.contact .card {
  position: relative;
  width: 80%;
  border-radius: 10px;
}

.btn {
  background-color: var(--rose-pink);
  color: white;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s ease-out;
}

.btn:hover {
  background: rgb(94, 94, 94);
}

.btnsoon {
  background-color: rgb(124, 124, 124);
  color: white;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s ease-out;
}

.btnsoon:hover {
  background: rgb(94, 94, 94);
}

.form-btn {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  border-bottom: 4px solid rgb(100, 100, 100);
  background: rgb(133, 133, 133);
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.form-btn:hover {
  background: rgb(94, 94, 94);
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: var(--card-bg-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s ease-out;
}



.topnav a.active {
  text-decoration: underline;
}

.soon {
  font-size: 13px;
}

.topnav a:hover,
.topnav a:focus {
  color: rgb(126, 126, 126);
  transform: scale(1.05);
}


.nocomment {
  font-size: 10px;
}

hr.solid {
  border-top: 3px solid #bbb;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1400px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .contact .card form p label text-area,
  .contact {
    width: 100%;
  }
}
